<div class="container">
    <h4 class='center-align'>Login</h4>
    <div class="row">
        <form name='loginForm' novalidate>
            <div input-field class="col s4 offset-s4">
                <input tab-index="1" type="email" ng-model="user.email" required>
                <label>email</label>
            </div>
            <div input-field class="col s4 offset-s4">
                <input tab-index="2" type="password" ng-model="user.password" required>
                <label>password</label>
            </div>
            <button class="blue waves-effect waves-light btn col s2 offset-s5" ng-click='login(user)' ng-disabled='loginForm.$invalid' message='Welcome!' duration='1000' toast='click'>Login</button>
        </form>
    </div>
</div>