@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

.bookitems {
    display: inline-block;
}

.homeContainer {
    margin-left: 0px !important;
}

.bookCovers {
    display: inline-block;
    border: 5px solid white;
    overflow: hidden;
    height: 195px;
    width: 130px;
    background: center center no-repeat;
    background-size: contain;
}

#searchModal {
    min-height: 250px;
}

.options>h5 {
    font-size: 1.5rem;
}

.options ul >li {
    padding-left: 0px;
}

.bookDiv {
    visibility: hidden;
}

.bookDiv:hover .bookDiv:focus {
    visibility: visible;
    color: yellow;
}

.bookSpecs {
    display: inline-block;
    max-height: 200px;
    text-overflow: clip;
}

.modalDescription {
    height: 200px;
    text-overflow: ellipsis;
    overflow: scroll;
}

.modal-rows {
    margin-bottom: 0px;
}

.modal-img {
    margin-top: 20px;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: white;
    font-size: 1.5em;
}

.tabs .indicator {
    background-color: #2196f3;
}

.title {
    padding-right: 75px;
}

.tabs-fixed-width {
    margin-bottom: 25px;
}

.card-tabs {
    font-size: 1em;
}

.card.horizontal {
    max-width: 100%;
    overflow: scroll;
}

.editmodal {
    min-height: 300px;
}

.card-description {
    max-height: 250px;
    overflow: scroll;
}

.card .card-content {
    padding: 10px;
}

.card .card-image img {
    top: 30px;
}

.coll-title {
    text-decoration: underline;
}

.coll-row {
    margin-bottom: 0px;
}

.card-content p {
    padding: 10px;
}

.ng-invalid.ng-dirty {
    border-color: red;
}

.comment-user {
    line-height: 0.75em;
    font-size: .85em;
}

.card-panel {
    padding: 5px;
}

.card-comment>p {
    padding: 2px;
}

.help-block {
    font-size: .74em;
    color: red;
}

.nav-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.card-container {
    position: relative;
    top: 50px;
}