<div class="container">

    <h3>Email Password Reset</h3>
    <p>In order to verify your identity and reset your password, please provide the email you used when you originally signed up with the Todo App.</p>
    <form>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" class="form-control" ng-model="password" autofocus>
        </div>

        <div class="form-group">
            <label for="newPasswordRepeat">Repeat Password</label>
            <input type="password" id="newPasswordRepeat" class="form-control" ng-model="passwordRepeat">
        </div>

        <button class="center-block btn btn-primary btn-lg" ng-click="resetForgottenPassword(password, passwordRepeat)" ng-disabled="password !== passwordRepeat">Reset Password</button>
    </form>

</div>